*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Avenir, sans-serif;

}
body{
    background-color:#510a80;
}
html{
    scroll-behavior: smooth;
}


.page1{
    height: 100vh;
    background: url("sida.jpg") no-repeat center / cover;
    background-size: cover;
    background-position: 0vw 0vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;

}

header.sticky{
    padding: 5px 100px;
    background: white;
}

header .home{
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size:  2em;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}


header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

/*.nav-list{
    margin-left: 60%;
    display: flex;
    height: 10vh;*/
    /*background-color: rgb(100, 176, 77);*/
    /*justify-content: center;
    align-items: center;
}*/

.nav-elem{
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

/*.nav-elem a {
    color: white;
    letter-spacing: 1.1px;
}
a.texte
{
    color : black;
    text-decoration: none
}

a.texte:hover
{
    text-decoration: underline;
    color: #f89668;
}
*/
.tete_de_page{
    text-align: center;
    padding-top: 40vh;
    margin-left: 10vw;
    position: absolute;
    top:0;
    left: 25%;
}




.page2{
    padding-top: 20vh;
    height: 100vh;
    text-align: center;
}

.titre_about{
    font-size: 10 rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.rubrique{
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*.rubrique a{
    background-image: "rubrique_1.jpg";
    font-family: 'Josefin Sans', sans-serif;;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding:20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    width: fit-content;
    height: 10vh;
    border-radius: 10px;
}*/

.rubrique_1{
    margin-left: 10vw;
    margin-top: 20vh;
    height: 40vh;
    width: 40vw;
    background: url(rubrique_1.jpg) no-repeat center / contain;
    text-align: center;
}

.rubrique_2{
    margin-left: 10vw;
    margin-top: 20vh;
    height: 40vh;
    width: 40vw;
    background: url(rubrique_2.jpg) no-repeat center / contain;
}

.rubrique_3{
    margin-left: 10vw;
    margin-top: 20vh;
    height: 40vh;
    width: 40vw;
    background: url(rubrique_3.jpg) no-repeat center / contain;
}


header.sticky .home{
    color: black;
}

header.sticky ul li a{
    color: #000;
}


.titre_rubriques{
    text-align: center;
    color: white;

}


.page3{
    height: 100vh;
    width: auto;
    
}

.page3 h1 {
    color: white;
}

.page3 p{
    color: white;
}

.contct h1{
    color: white;
}

.bouton{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
